<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>albumTitle</key>
	<string>Flow of Grace</string>
	<key>artist</key>
	<string>Krishna Das</string>
	<key>cliplist</key>
	<array>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>9.180500030517578</real>
			<key>texts</key>
			<array>
				<string>Hallelujah Chalisa</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>11.19369983673096</real>
			<key>texts</key>
			<array>
				<string>shree gurū charana saroja raja nija manu mukuru sudhāri</string>
				<string>Taking the pollen-like dust of my Guru’s lotus feet to polish the mirror of my heart,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>9.63860034942627</real>
			<key>texts</key>
			<array>
				<string>baranoñ raghubara bimala jasu jo dāyaku phala chāri</string>
				<string>I can now sing the pure splendor of Sri Ram, the best of Raghus, which bestows the four fruits of life.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>10.15789985656738</real>
			<key>texts</key>
			<array>
				<string>buddhi heena tanu jāniké sumiroñ pavana kumāra</string>
				<string>I don’t know anything, so I remember you, Son of the Wind;</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>9.47760009765625</real>
			<key>texts</key>
			<array>
				<string>bala buddhi vidyā déhu mohiñ harahu kalésa bikāra</string>
				<string>Grant me strength, intelligence, and wisdom, and remove my impurities and sorrows.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.954299926757812</real>
			<key>texts</key>
			<array>
				<string>1.1 jaya hanumāna gyāna guna sāgara</string>
				<string>Hail Hanuman, ocean of wisdom;</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.326700210571289</real>
			<key>texts</key>
			<array>
				<string>1.2 jaya kapeesa tihuñ loka ujāgara</string>
				<string>Hail Monkey Lord! You light up the three worlds.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.807899951934814</real>
			<key>texts</key>
			<array>
				<string>2.1 rāmadūta atulita bala dhāmā</string>
				<string>You are Ram’s messenger, the abode of immeasurable power,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.786300182342529</real>
			<key>texts</key>
			<array>
				<string>2.2 anjani putra pawanasūta nāmā</string>
				<string>Anjani’s son, named “Son of the Wind.”</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.973299980163574</real>
			<key>texts</key>
			<array>
				<string>3.1 mahābeera bikrama bajrañgee</string>
				<string>Great hero, you are a mighty thunderbolt,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.683199882507324</real>
			<key>texts</key>
			<array>
				<string>3.2 kumati nivāra sumati ke sañgee</string>
				<string>Remover of evil thoughts and companion of the good.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.797999858856201</real>
			<key>texts</key>
			<array>
				<string>4.1 kañchana barana birāja subesā</string>
				<string>Golden-hued and splendidly adorned</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.854400157928467</real>
			<key>texts</key>
			<array>
				<string>4.2 kānana kuñdala kuñchita késā</string>
				<string>with heavy earrings and curly locks:</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.833799839019775</real>
			<key>texts</key>
			<array>
				<string>5.1 hātha bajra o dhvajā birājai</string>
				<string>In your hands shine mace and a banner;</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.54069995880127</real>
			<key>texts</key>
			<array>
				<string>5.2 kāñdhé mūñja janéū sājai</string>
				<string>a sacred thread adorns your shoulder.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.697999954223633</real>
			<key>texts</key>
			<array>
				<string>6.1 shañkara suvana késaree nandana</string>
				<string>You are an incarnation of Shiva and Kesari’s son.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.932300090789795</real>
			<key>texts</key>
			<array>
				<string>6.2 téja pratāpa mahā jaga bandana</string>
				<string>Your glory is revered throughout the world.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.6072998046875</real>
			<key>texts</key>
			<array>
				<string>7.1 vidyāvāna gunee ati chātura</string>
				<string>You are the wisest of the wise, virtuous and very clever,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.893700122833252</real>
			<key>texts</key>
			<array>
				<string>7.2 rāma kāja karibé ko ātura</string>
				<string>ever eager to do Ram’s work.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.568399906158447</real>
			<key>texts</key>
			<array>
				<string>8.1 prabhu charitra sunibé ko rasiyā</string>
				<string>You delight in hearing of the Lord’s deeds;</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.765299797058105</real>
			<key>texts</key>
			<array>
				<string>8.2 rāma lakhana seetā mana basiyā</string>
				<string>Ram, Lakshman, and Sita dwell in your heart.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.730400085449219</real>
			<key>texts</key>
			<array>
				<string>9.1 sūkshma rūpa dhari siyahiñ dikhāvā</string>
				<string>Assuming a tiny form, you appeared to Sita;</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.549900054931641</real>
			<key>texts</key>
			<array>
				<string>9.2 bikata rūpa dhari lañka jarāvā</string>
				<string>in an awesome form, you burned Lanka.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.993100166320801</real>
			<key>texts</key>
			<array>
				<string>10.1 bheema rūpa dhari asura sañghāre</string>
				<string>Taking a dreadful form, you slaughtered the demons,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.360700130462646</real>
			<key>texts</key>
			<array>
				<string>10.2 rāmachandra ké kāja sañvare</string>
				<string>completing Lord Ram’s work.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.658599853515625</real>
			<key>texts</key>
			<array>
				<string>11.1 lāya sajeevana lakhana jiyāye</string>
				<string>Bringing the magic herb, you revived Lakshman;</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.81850004196167</real>
			<key>texts</key>
			<array>
				<string>11.2 shree raghubeera harashi ura lāye</string>
				<string>Sri Ram embraced you with delight.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.659299850463867</real>
			<key>texts</key>
			<array>
				<string>12.1 raghupati keenhee bahuta barāee</string>
				<string>The Lord of the Raghus praised you greatly:</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.597799777984619</real>
			<key>texts</key>
			<array>
				<string>12.2 tuma mama priya bharatahi sama bhāee</string>
				<string>“You are as dear to me as my brother Bharat!”</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.538899898529053</real>
			<key>texts</key>
			<array>
				<string>13.1 sahasa badana tumharo yaśa gāvaiñ</string>
				<string>“Thousands of mouths will sing your fame!”</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.661799907684326</real>
			<key>texts</key>
			<array>
				<string>13.2 asa kahi shreepati kañtha lagāvaiñ</string>
				<string>So saying, Lakshmi’s Lord drew you to Himself.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.717400074005127</real>
			<key>texts</key>
			<array>
				<string>14.1 sanakādika brahmādi muneesā</string>
				<string>Sanak and the sages, Brahma and the munis,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.539999961853027</real>
			<key>texts</key>
			<array>
				<string>14.2 nārada shārada sahita aheesā</string>
				<string>Narada, Saraswati, and the King of serpents,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.93809986114502</real>
			<key>texts</key>
			<array>
				<string>15.1 yama kubéra digapāla jahāñ te</string>
				<string>Yama, Kubera, the guardians of the four quarters,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.371500015258789</real>
			<key>texts</key>
			<array>
				<string>15.2 kabi kobida kahi saké kahāñte</string>
				<string>poets and scholars—none can express your glory.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.935800075531006</real>
			<key>texts</key>
			<array>
				<string>16.1 tuma upakāra sugreevahiñ keenhā</string>
				<string>You did great service for Sugriva;</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.658899784088135</real>
			<key>texts</key>
			<array>
				<string>16.2 rāma milāya rāja pada deenhā</string>
				<string>bringing him to Ram, you gave him kingship.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.499800205230713</real>
			<key>texts</key>
			<array>
				<string>17.1 tumharo mantra vibheeshana mānā</string>
				<string>Vibhishana heeded your counsel;</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.309100151062012</real>
			<key>texts</key>
			<array>
				<string>17.2 lañkéshvara bhayé saba jaga jānā</string>
				<string>He became the Lord of Lanka, as the whole world knows.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.909200191497803</real>
			<key>texts</key>
			<array>
				<string>18.1 juga sahasra jojana para bhānū</string>
				<string>Though the sun is millions of miles away,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.253699779510498</real>
			<key>texts</key>
			<array>
				<string>18.2 leelyo tāhi madhura phala jānū</string>
				<string>you swallowed it, thinking it to be a sweet fruit.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.933599948883057</real>
			<key>texts</key>
			<array>
				<string>19.1 prabhu mudrikā méli mukha māheeñ</string>
				<string>Holding the Lord’s ring in your mouth,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.389500141143799</real>
			<key>texts</key>
			<array>
				<string>19.2 jaladhi lānghi gaye acharaja nāheeñ</string>
				<string>it’s no surprise that you leapt over the ocean.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.813899993896484</real>
			<key>texts</key>
			<array>
				<string>20.1 durgama kāja jagata ké jéte</string>
				<string>Every difficult task in this world becomes easy by your grace.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.479700088500977</real>
			<key>texts</key>
			<array>
				<string>20.2 sugama anugraha tumharé téte</string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.940899848937988</real>
			<key>texts</key>
			<array>
				<string>21.1 rāma duāré tuma rakhavāre</string>
				<string>You are the guardian at Ram’s door;</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.559100151062012</real>
			<key>texts</key>
			<array>
				<string>21.2 hota na āgyā binu paisāre</string>
				<string>no one enters without your permission.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.501200199127197</real>
			<key>texts</key>
			<array>
				<string>22.1 saba sukha lahai tumhāree sharanā</string>
				<string>Those who take refuge in you find all happiness;</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.232800006866455</real>
			<key>texts</key>
			<array>
				<string>22.2 tuma rachchaka kāhâ ko dara nā</string>
				<string>those who you protect know no fear.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.863900184631348</real>
			<key>texts</key>
			<array>
				<string>23.1 āpana téja samhāro āpai</string>
				<string>You alone can withstand your own splendor;</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.330100059509277</real>
			<key>texts</key>
			<array>
				<string>23.2 teenoñ loka hāñka téñ kāñpai</string>
				<string>the three worlds tremble at your roar.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.770400047302246</real>
			<key>texts</key>
			<array>
				<string>24.1 bhūta pisācha nikata nahiñ āvai</string>
				<string>Ghosts and goblins cannot come near,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.782800197601318</real>
			<key>texts</key>
			<array>
				<string>24.2 mahābeera jaba nāma sunāvai</string>
				<string>Great Hero, when your name is uttered.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.431700229644775</real>
			<key>texts</key>
			<array>
				<string>25.1 nāsai roga haré saba peerā</string>
				<string>All disease and pain is eradicated</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.466400146484375</real>
			<key>texts</key>
			<array>
				<string>25.2 japata nirantara hanumata beerā</string>
				<string>by constantly repeating your name, brave Hanuman.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.511600017547607</real>
			<key>texts</key>
			<array>
				<string>26.1 sañkata téñ hanumāna churāvai</string>
				<string>Hanuman, you release from affliction all those</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.132800102233887</real>
			<key>texts</key>
			<array>
				<string>26.2 mana krama bachana dhyāna jo lāvai</string>
				<string>who remember you in thought, word, and deed.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.867199897766113</real>
			<key>texts</key>
			<array>
				<string>27.1 saba para rāma tapasvee rājā</string>
				<string>Ram, the ascetic king, reigns over all,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.51639986038208</real>
			<key>texts</key>
			<array>
				<string>27.2 tinaké kāja sakala tuma sājā</string>
				<string>but you carry out all His work.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.716700077056885</real>
			<key>texts</key>
			<array>
				<string>28.1 ora manoratha jo ko-i lāvai</string>
				<string>One who comes to you with any yearning</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.969299793243408</real>
			<key>texts</key>
			<array>
				<string>28.2 so-i amita jeevana phala pāvai</string>
				<string>obtains the abundance of the four fruits of life.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>3.689300060272217</real>
			<key>texts</key>
			<array>
				<string>29.1 chāroñ yuga paratāpa tumhārā</string>
				<string>Your splendor fills the four ages;</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.575600147247314</real>
			<key>texts</key>
			<array>
				<string>29.2 hai parasiddha jagata ujiyārā</string>
				<string>your glory is renowned throughout the world.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.701900005340576</real>
			<key>texts</key>
			<array>
				<string>30.1 sādhu santa ké tuma rakhavāre</string>
				<string>You are the guardian of saints and sages,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.581799983978271</real>
			<key>texts</key>
			<array>
				<string>30.2 asura nikandana rāma dulāre</string>
				<string>the destroyer of demons, and the darling of Ram.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.773300170898438</real>
			<key>texts</key>
			<array>
				<string>31.1 ashta siddhi no nidhi ké dātā</string>
				<string>You grant the eight powers and nine treasures</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.041600227355957</real>
			<key>texts</key>
			<array>
				<string>31.2 asa bara deenha jānakee mātā</string>
				<string>by the boon you received from Mother Janaki.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.563600063323975</real>
			<key>texts</key>
			<array>
				<string>32.1 rāma rasāyana tūmharé pāsā</string>
				<string>You hold the elixir of Ram’s name</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.289700031280518</real>
			<key>texts</key>
			<array>
				<string>32.2 sadā raho raghupati ké dāsā</string>
				<string>and remain eternally His servant.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.625999927520752</real>
			<key>texts</key>
			<array>
				<string>33.1 tumhare bhajana rāma ko pāvai</string>
				<string>Singing your praise, one finds Ram</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.119699954986572</real>
			<key>texts</key>
			<array>
				<string>33.2 janama janama ké dukha bisarāvai</string>
				<string>and the sorrows of countless lives are destroyed.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.870999813079834</real>
			<key>texts</key>
			<array>
				<string>34.1 anta kāla raghubara pura jā-ee</string>
				<string>At death one goes to Ram’s own abode,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.497200012207031</real>
			<key>texts</key>
			<array>
				<string>34.2 jahāñ janma hari bhakta kahā-ee</string>
				<string>born there as God’s devotee.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.400100231170654</real>
			<key>texts</key>
			<array>
				<string>35.1 aura devatā chitta na dhara-ee</string>
				<string>Why worship any other deities?</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.430300235748291</real>
			<key>texts</key>
			<array>
				<string>35.2 hanumata sé-i sarva sukha kara-ee</string>
				<string>From Hanuman you’ll get all happiness.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.368199825286865</real>
			<key>texts</key>
			<array>
				<string>36.1 sankata katai mitai saba peerā</string>
				<string>All affliction ceases and all pain is removed</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.434400081634521</real>
			<key>texts</key>
			<array>
				<string>36.2 jo sumirai hanumata bala beerā</string>
				<string>for those who remember the mighty hero, Hanuman.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.178500175476074</real>
			<key>texts</key>
			<array>
				<string>37.1 jai jai jai hanumāna gosā-ee</string>
				<string>Victory, Victory, Victory, Lord Hanuman;</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.388500213623047</real>
			<key>texts</key>
			<array>
				<string>37.2 kripā karahu gurudéva kee nā-ee</string>
				<string>bestow your grace on me, as my Guru!</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.648099899291992</real>
			<key>texts</key>
			<array>
				<string>38.1 jo sata bāra pātha kara ko-ee</string>
				<string>Whoever recites this a hundred times</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>3.880100011825562</real>
			<key>texts</key>
			<array>
				<string>38.2 chūtahi bandi mahā sukha ho-ee</string>
				<string>is released from bondage and gains bliss.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>5.008900165557861</real>
			<key>texts</key>
			<array>
				<string>39.1 jo yaha padai hanumāna chāleesā</string>
				<string>One who reads this Hanuman Chalisa</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.342199802398682</real>
			<key>texts</key>
			<array>
				<string>39.2 hoya siddhi sākhee gaureesā</string>
				<string>gains success, as Gauri’s Lord (Shiva) is witness.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.206099987030029</real>
			<key>texts</key>
			<array>
				<string>40.1 tulasee dāsa sadā hari chérā</string>
				<string>Says Tulsi Das, who always remains Hari’s servant,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.928699970245361</real>
			<key>texts</key>
			<array>
				<string>40.2 keejai nātha hridaya mahañ dérā</string>
				<string>“Lord, make your home in my heart.”</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>8.737400054931641</real>
			<key>texts</key>
			<array>
				<string>pavana tanaya sañkata harana mañgala mūrati rūpa</string>
				<string>Son of the Wind, destroyer of sorrow, embodiment of blessings,</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>9.418899536132812</real>
			<key>texts</key>
			<array>
				<string>rāma lakhana seetā sahita hridaya basahu sura bhūpa</string>
				<string>with Ram, Lakshman, and Sita, live in my heart, King of Gods!</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>6.412799835205078</real>
			<key>texts</key>
			<array>
				<string>mañgala mūrati māruta nandana</string>
				<string>Son of the Wind, embodiment of all blessings, you destroy the</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.418000221252441</real>
			<key>texts</key>
			<array>
				<string>sakala amañgala mūla nikandana</string>
				<string>root of all that is harmful and inauspicious in our lives.</string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>5.116199970245361</real>
			<key>texts</key>
			<array>
				<string>mañgala mūrati māruta nandana</string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>5.615600109100342</real>
			<key>texts</key>
			<array>
				<string>sakala amañgala mūla nikandana</string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>5.327099800109863</real>
			<key>texts</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>5.686999797821045</real>
			<key>texts</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>49.3838005065918</real>
			<key>texts</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>19.55559921264648</real>
			<key>texts</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>6.400100231170654</real>
			<key>texts</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>4.754199981689453</real>
			<key>texts</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>6.235400199890137</real>
			<key>texts</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>16.18829917907715</real>
			<key>texts</key>
			<array>
				<string></string>
				<string></string>
			</array>
		</dict>
		<dict>
			<key>recordingDuration</key>
			<real>0</real>
			<key>subDuration</key>
			<real>12.04139995574951</real>
			<key>texts</key>
			<array/>
		</dict>
	</array>
	<key>duration</key>
	<real>582.5040283203125</real>
	<key>label</key>
	<string>Hallelujah Chalisa (Flow of Grace)</string>
	<key>nextRecordingID</key>
	<integer>0</integer>
	<key>sourceRef</key>
	<string>http://itunes.apple.com/us/album/flow-of-grace/id388522254</string>
	<key>title</key>
	<string>Hallelujah Chalisa</string>
</dict>
</plist>
